/* CSS declarations go here */




@font-face {
    font-family: QuickSand-regular;
    src: url(fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family: QuickSand-bold;
    src: url(fonts/Quicksand-Bold.ttf);
}

@font-face {
    font-family: Lobster-reqular;
    src: url(fonts/Lobster-Regular.ttf);
}


@font-face {
	font-family: MerriweatherSans;
	src: url(fonts/MerriweatherSans-Regular.ttf);
	
}



.img_rotate {
  -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}

.img_pad {
  padding: 20px;
}

body .login-buttons-dropdown-align- {
  
  font-family: MerriweatherSans;
  
}

.number_scale {
	height: 10px;
	width: auto;	
	
}

.navi_img {
	height: 70px;
	width: auto;
	
}

.range_container {
	width:100%;
	text-align: center;
	vertical-align: top;
	padding-bottom: 10px;
	
	
}

.headTitle {
	
	font-family: Lobster-reqular;
	font-size:50px;
	text-align: center;
	background-color:white;
	color: black;
	
}

.titleText {
	
	width:100%;
	padding-top: 8px;
	padding-bottom: 5px;
	text-align: center;
	font-family: QuickSand-bold;
	
	
}

.ympyra {
	display: inline-table;
	width:26px;
	height:26px;
	 border-radius: 50%;
	border: 1px solid;
	border-color:#338adc;
	 background-color: #338adc;
 	 color: white;
 	font-size:16px;
}

.ympyra2 {
	display: inline-table;
	width:26px;
	height:26px;
	 border-radius: 50%;
	border: 1px solid;
	border-color:#338adc;
	 background-color: #338adc;
 	 color: white;
 	font-size:16px;
}


.ympyra_hover {

	border-color: #338adc;
	color: #338adc;
 	background-color: white;
}

.ympyra2_hover {

	border-color: #338adc;
	color: #338adc;
 	background-color: white;
}

.ympyra_select {

 	background-color: white;
	border: 1px solid;
	border-color: #338adc;
	color: #338adc;

}

.ympyra2_select {

 	background-color: white;
	border: 1px solid;
	border-color: #338adc;
	color: #338adc;

}


.slider_bg {
	background-color:lightblue;
	border-radius: 0px;
	border-top:2px solid gray;
	border-bottom:2px solid gray;
	visibility:visible;	
	font-family: QuickSand-regular;

}

.buttons {
	padding: 12px;
	height: 80px;
	width: auto;
	text-align: center;
		
}


.slider_bg input textarea {
	
	color: silver;
	
}

.inp_taskName {}
.inp_ownerkName {}