/* CSS declarations go here */



@font-face {
    font-family: QuickSand-regular;
    src: url(fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family: QuickSand-bold;
    src: url(fonts/Quicksand-Bold.ttf);
}

@font-face {
    font-family: Lobster-reqular;
    src: url(fonts/Lobster-Regular.ttf);
}


@font-face {
	font-family: MerriweatherSans;
	src: url(fonts/MerriweatherSans-Regular.ttf);
	
}



@media (max-width: 500px) {

	.slider_bg {
	
		background-color:lightblue;
		border:1px solid gray;	
		visibility:visible;	
		font-family: QuickSand-regular;
		margin-left: auto;
    	margin-right: auto;
		padding-left: 3px;
		padding-right: 3px;

	position: relative;
    -webkit-animation: mymove 3s;  /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 2;  /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;  /* Chrome, Safari, Opera */
    animation: mymove 3s;
    animation-iteration-count: 2;
    animation-play-state: paused;

		
	}

}


@media screen and (min-width: 501px) {

	.slider_bg {
	
	background-color:lightblue;
	border-radius: 6px;
	border:2px solid gray;
	
	visibility:visible;	
	font-family: QuickSand-regular;
	margin-left: auto;
    margin-right: auto;
	width: 40%;	
		

}



}

@-webkit-keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
}

@keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
}


#btn_addTask {

		width:25px;
		margin-left: auto;
    	margin-right: auto;
		background-color: gray;

	}


.loginButtons {
padding-top:5%;	
width:100%;
text-align: center;
}

.logouthead {

padding: 6px;	
	
}

.img_pad {
  padding: 20px;
}

body .login-buttons-dropdown-align- {
  
  font-family: MerriweatherSans;
  
}


.slider_head2 {
	width:100%;
	padding-top: 8px;
	padding-bottom: 10px;
	
	text-align: center;
	font-family: QuickSand-bold;
	border-bottom: 2px solid gray;	
}

.number_scale {
	height: 10px;
	width: auto;	
	
}

.navi_img {
	height: 70px;
	width: auto;
	
}

.range_container {
	width:100%;
	text-align: center;
	vertical-align: top;
	padding-bottom: 10px;
	
	
}

.headTitle {
	
	font-family: Lobster-reqular;
	font-size:50px;
	text-align: center;
	background-color:white;
	color: black;
	
}

.titleText {
	
	width:100%;
	padding-top: 8px;
	padding-bottom: 5px;
	text-align: center;
	font-family: QuickSand-bold;
	
	
}

.ympyra {
	display: inline-table;
	width:26px;
	height:26px;
	 border-radius: 50%;
	border: 1px solid;
	border-color:#338adc;
	 background-color: #338adc;
 	 color: white;
 	font-size:16px;
}

.ympyra2 {
	display: inline-table;
	width:26px;
	height:26px;
	 border-radius: 50%;
	border: 1px solid;
	border-color:#338adc;
	 background-color: #338adc;
 	 color: white;
 	font-size:16px;
}


.ympyra_hover {

	border-color: #338adc;
	color: #338adc;
 	background-color: white;
}

.ympyra2_hover {

	border-color: #338adc;
	color: #338adc;
 	background-color: white;
}

.ympyra_select {

 	background-color: white;
	border: 1px solid;
	border-color: #338adc;
	color: #338adc;

}

.ympyra2_select {

 	background-color: white;
	border: 1px solid;
	border-color: #338adc;
	color: #338adc;

}



.buttons {
	padding: 12px;
	height: 80px;
	width: auto;
	text-align: center;
		
}

.oneTask {
	
	background-color:lightblue;
	margin-left: auto;
    margin-right: auto;
	border-radius: 2px;
	
	border:2px solid gray;
	visibility:visible;	
	font-family: QuickSand-regular;
	width:95%;
}

.buttonsHeader {
	float: none;
	background-color: white;		
	border: 2px solid white;
	height: 50px;
	width:  95%;	
	padding-left:3px;
	padding-bottom:10px;
}

.taskHeader {
	background-color: #338adc;
	color:white;
	border-bottom:1px solid gray;
	padding: 1px;
}


.taskDescription {
	background-color: white;
	color:black;
	padding: 1px;
	
	
}

.taskFooter {
	background-color: #338adc;
	color:white;
	border-top:1px solid gray;
	padding: 1px;
}


.slider_bg input textarea {
	
	color: silver;
	
}

.inp_taskName {}
.inp_ownerkName {}

/* Jquery-ui autocomplete with picture */
#project-label {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
  }
  #project-icon {
    float: left;
    height: 48px;
    width: 48px;
  }
  #project-description {
    margin: 0;
    padding: 0;
  }
